@font-face { 
	font-family: marvelff; 
	src: url('../fonts/Marvel-Regular.ttf'); 
} 
@font-face { 
	font-family: marvelff; 
	font-weight: bold;
	src: url('../fonts/Marvel-Bold.ttf'); 
} 
@font-face { 
	font-family: marvelff; 
	font-style: italic;
	src: url('../fonts/Marvel-Italic.ttf'); 
} 
