body {
	font-family: 'geff', helvetica, arial;
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.clearfix {
	clear: both;
}
.fl {float: left;}
.fr	{float: right;}
.pt10 {padding-top: 10px;}
.pt5 {padding-top: 5px;}
.pt15 {padding-top: 15px;}
.mt5 {margin-top: 5px;}
.ml5 {margin-left: 5px;}
.f11 {font-size: 11px;}
.l_red {color: red;}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}
.bold {font-weight: bold;}
.logo_pop {
	position: absolute;
	left: 0;
	top: 0;
}
.pop_box {
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
}
.pop_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 0;
}

.pop_container {
	background: #ed282f;
	margin: 0 auto;
	width: 700px;
	position: absolute;
	z-index: 3;
	top: 5%;
	left: 50%;
	margin-left: -350px;
	-webkit-animation: move_bot 0.5s; /* Chrome, Safari, Opera */
    animation: move_bot 0.5s;
    color: #fff;
}

/*s:animate*/
@-webkit-keyframes move_bot {
    from {top:100%;}
}
/*e:animate*/


.close_pop {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	z-index: 2;
}

.jdl {
	text-align: center;
	padding: 60px 20px 20px;
	font-family: eggff, helvetica, arial;
	font-size: 24px;
	line-height: 110%;
	position: relative;
	z-index: 1;
}
.list_1 {
	padding: 10px 30px;
}
.list_1 .no {
	display: inline-block;
	width: 30px;
	text-align: center;
	color: red;
	background: #fff;
	border-radius: 100px;
	float: left;
	height: 22px;
	padding-top: 8px;
	font-weight: bold;
	margin-right: 10px;
}
.list_1 .text {
	font-size: 15px;
}

.btn_white {
	display: inline-block;
	background: #fff;
	color: red;
	padding: 5px 15px;
	text-decoration: none;
}
.btn_white:hover {
	opacity: 0.7;
}

@media screen and (max-width: 500px) {
	.pop_container {
		width: 100%;
		margin-left: 0;
		left: 0;
		top: 0;
	}
	.jdl {
		padding-top: 80px;
	}
	.logo_pop {
		height: 80px;
	}
	.sos_login a {
		margin-bottom: 10px;
		display: inline-block;
	}
	.list_1 .text {
		float: left;
		width: 80%;
		width: calc(100% - 50px);
	}
}



