body {
	/*background:url(../img/header.jpg) top center no-repeat;*/
	background-color: #fff;
	padding: 0;
	margin: 0;
	font-family: helvetica, arial;
	font-size: 13px;
	line-height: 130%;
	color: #6d6e71;
	/*overflow: hidden;*/
}
.pic img {
	height: 100%;
}
.container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.container2 {
	width: 580px;
}
.container3 {
	width: 650px;
}
#header {
	background: #fff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	height: 100px;
	position: relative;
	z-index: 1;
}
#header .logo {
	position: absolute;
	height: 150px;
}
#header #nav {
	float: right;
	width: 800px;
	height: 100px;
	position: relative;
}
#header .login_area {
	position: absolute;
	right: 0;
	top: -5px;
	background: #b2b2b2;
	border-radius: 5px;
	padding: 15px 15px 10px;
	color: #fff;
	font-size: 13px;
}
#header .login_area a {
	color: #fff;
	text-decoration: none;
}
#header .login_area a:hover {
	text-decoration: underline;
}
#header .search {
	position: absolute;
	right: 0;
	bottom: 15px;
	background: #e6e7e8;
	border-radius: 3px;
	padding: 3px 5px;
	-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    inset 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         inset 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
}
#header .search .search_input {
	background: none;
	border:0;
	outline: none;
	padding: 3px;
	width: 100px;
	float: left;
}
#header .search .search_btn {
	padding-top: 3px;
	width: 20px;
	float: left;
}
#header #nav_menu {
	display: none;
}
#header .menu {
	float: left;
	position: absolute;
	bottom: 20px;
	left: 0;
}
#header .menu a {
	float: left;
	color: #81a22d;
	text-decoration: none;
	padding-left: 50px;
	font-size: 14px;
}
#header .menu a:hover {
	text-decoration: underline;
}
#nav_menu_close {
	display: none;
}
#footer {
	background: #f2f2f2;
	color: #939598;
	padding: 30px 0;
	margin-top: 30px;
}
#footer a {
	color: #939598;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
.t-center {
	text-align: center;
}
.present {
	padding-top:20px;
	display: inline-block;
}
.present span {
	float: left;
	padding-top: 30px;
}
.present img {
	float: left;
}

.title {
	font-family: 'marvelff', helvetica, arial;
	color: #95b14e;
	font-size: 60px;
	line-height: 100%;
	padding-bottom: 20px;
}

.page1 {
	background: #84bd00;
	color: #fff;
	padding: 50px 0;
}
.hl {
	width: 95%;
	margin: 0 auto;
	height: 450px;
	overflow: hidden;
}
.hl .list_hl {
	width: 95%;
	float: left;
	height: 450px;
}
.hl .list_hl .text {
	float: left;
	width: 38%;
	font-size: 14px;
	line-height: 130%;
	padding-top: 50px;
}
.hl .list_hl .text h2 {
	font-family: marvelff, helvetica, arial;
	font-size: 60px;
	line-height: 100%;
	padding-bottom: 10px;
}
.hl .list_hl .hl_r {
	float: right;
	width: 60%;
	position: relative;
}
.hl .list_hl .pic {
	width: 100%;
}
.hl .list_hl .pic img {
	width: 100%;
}
.hl .list_hl .plus {
	position: absolute;
	z-index: 1;
}
.hl .list_hl .plus .box_p {
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 150px;
	background-color: #fff;
	text-align: center;
	padding: 10px;
	font-size: 11px;
	line-height: 120%;
	color: #a3a3a3;
	border:5px solid rgba(149,177,78,0.8);
	margin-left: -50px;
	margin-top: -90px;
	z-index: 2;
	display: none;

}
.hl .list_hl .plus .box_p h3 {
	font-weight: bold;
	color: #95b14e;
	padding-bottom: 5px;
	font-size: 18px;
	padding-top: 10px;
}
.hl .list_hl .plus:hover .box_p{
	display: block;
}
.pagination {
	margin-top: -90px;
	position: relative;
	z-index: 2;
}
.pagination a {
	background: #fff;
	opacity: 0.6;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	display: inline-block;
	border-radius: 100px;
}
.pagination a.selected,
.pagination a:hover {
	opacity: 1;
}
.pagination a span {
	display: none;
}


.page2 {
	background: url(../img/bg2.jpg) center bottom no-repeat;
	text-align: center;
	height: 590px;
	color: #808285;
	font-size: 15px;
	line-height: 140%;
}
.page2 .container2 {
	padding-top: 160px;
}
.page3 {
	background: #e0e8cb;
	padding: 30px 0;
}
.slide2 {
	width: 100%;
	height: 300px;
	position: relative;
	color: #95b14e;
}
.slide2 #carousel div{
	text-align: center;
	width: 250px;
	height: 300px;
	float: left;
	position: relative;
}
.slide2 #carousel div .pic {
	width: 170px;
	height: 170px;
	overflow: hidden;
	border-radius: 100px;
	display: inline-block;
}
.slide2 #carousel h3,
.slide2 #carousel h4 {
	padding:5px 10px;
}
.slide2 #carousel h3 {
	font-size: 18px;
	line-height: 120%;
}
.nav_slide2_left {
	position: absolute;
	left: -50px;
	top: 50%;
	margin-top: -40px;
}
.nav_slide2_right {
	position: absolute;
	right: -50px;
	top: 50%;
	margin-top: -40px;
}
.nav_slide2_left:hover,
.nav_slide2_right:hover {
	opacity: 0.7;
}

.page4 {
	padding: 70px 0;
}
.page4 .fl {
	width: 30%;
}
.page4 .fr {
	width: 65%;
}
.hubungi .input {
	border:0;
	border-radius: 5px;
	-webkit-box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    inset 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         inset 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
	background: #f2f3f3;
	padding: 10px 15px;
	width: 250px;
	font-size: 15px;
	color: #81a22d;
}
.hubungi .textarea {
	width: 350px;
	height: 120px;
}


.header_page {
	background-color: #85be00;
	height: 150px;
	overflow: hidden;
	color: #fff;
}
.header_page h1 {
	font-family: marvelff, helvetica, arial;
	color: #fff;
	font-size: 42px;
	line-height: 150px;
	height: 150px;
	padding-left: 200px;
}
.header_page2 {
	height: 70px;
}
.header_page2 h1  {
	height: 70px;
	line-height: 70px;
}
.hp_fakta {
	background-color: #92b733;
}
.hp_fakta .container {
	background: url(../img/header_fakta.jpg) right no-repeat;
	height: 150px;
}
.hp_panduan .container {
	background: url(../img/header_panduan.jpg) right no-repeat;
	height: 150px;
}
.hp_tips .container {
	background: url(../img/header_tips.jpg) right no-repeat;
	height: 150px;
}
.hp_search .container {
	background: url(../img/header_search.jpg) right no-repeat;
	height: 70px;
}



.left {
	float: left;
	width: 300px;
}
.right {
	float: right;
	width: 660px;
}
.box1 {
	background-color: #eaefdc;
	padding: 15px;
	border-radius: 10px;
}
.box1 a {
	border-bottom: 1px solid #bbbfb0;
	text-decoration: none;
	color: #95b14e;
	font-size: 20px;
	line-height: 120%;
	padding: 10px 5px;
	display: block;
}
.box1 a:hover {
	text-decoration: underline;
}
.box1 a:last-child {
	border: 0;
}
.box1a a {
	border-bottom: 0;
}

.box2 {
	background-color: #e8e9e9;
	border-radius: 10px;
	overflow: hidden;
}
.box2 .box_title {
	background: #db5761;
	color: #fff;
	padding: 15px;
	font-weight: bold;
	font-size: 24px;
}

.list_box1 {
	padding-left: 15px;
}
.list_box1 a{
	color: #a2a2a2;
	display: block;
	padding: 7px 0;
	text-decoration: none;
	font-size: 15px;
}
.list_box2 {
	padding: 15px;
	margin: 0;
	list-style: none;
}
.list_box2 li {
	padding: 10px 5px;
	border-bottom: 1px solid #bbbfb0;
	border-top: 1px solid #fff;
	color: #797979;
	font-size: 13px;
	line-height: 140%;
}
.list_box2 li h4 a {
	color: #db5761;
	font-size: 18px;
	text-decoration: none;
	display: block;
	padding-bottom: 5px;
	line-height: 120%;
}
.list_box2 li h4 a:hover {
	text-decoration: underline;
}
.list_box2 li:first-child {
	border-top: 0;
}
.list_box2 li:last-child {
	border-bottom: 0;
}
.list_box2 li:last-child a {
	text-align: center;
	text-decoration: none;
	color: #797979;
	display: block;
	font-size: 13px;
	border-bottom: 0;
}


.breadcrumb {
	color: #7f7f7f;
}
.breadcrumb a {
	color: #7f7f7f;
	text-decoration: none;
}
.breadcrumb img {
	float: left;
	padding-right: 5px;
}
.breadcrumb span {
	float: left;
	padding-top: 5px;
}

.detail h1 {
	font-size: 32px;
	color: #7c9834;
	line-height: 120%;
	padding-bottom: 20px;
}
.detail .pic {
	width: 100%;
	margin-bottom: 15px;
}
.detail .pic img {
	width: 100%;
	height: auto;
}
.text_detail {
	font-size: 14px;
	line-height: 150%;
}
.text_detail p {
	padding: 0;
	margin: 0;
}
.text_detail a {
	font-weight: bold;
	color: #95b14e;
	text-decoration: none;
}
.text_detail a:hover {
	text-decoration: underline;
}
.text_detail .sisip {
	background: #e25e67;
	color: #fff;
	padding: 20px;
	margin: 20px;
	font-size: 13px;
}
.text_detail h3 {
	font-weight: bold;
	font-size: 20px;
	line-height: 130%;
}

.detail .share {
	padding:30px 0;
}
.detail .share span {
	float: left;
	margin-right: 5px;
}
.detail .share .tw {
	padding-top: 1px;
}

.search_in {
	border:1px solid #ccc;
	background: none;
	width: 80%;
	height: 30px;
}
.search_in .input{
	width: 85%;
	padding: 8px;
	border:0;
	background: none;
	float: left;
	outline: none;
}
.search_in .btn {
	float: right;
	width: 25px;
	padding: 3px;
}
.list_search {
	padding: 10px 0;
	color: #6d6e71;
	font-size: 13px;
	line-height: 150%;
}
.list_search a {
	color: #6d6e71;
	text-decoration: none;
	
}
.list_search a:hover {
	text-decoration: underline;
}
.list_search h2 {
	font-size: 22px;
	line-height: 130%;
	padding-bottom: 5px;
}
.title_page {
	font-size: 32px;
	color: #95b14e;
	margin-bottom: 25px !important;
	padding-top: 10px;
}






@media screen and (max-width: 1024px) {
	.nav_slide2_left,
	.nav_slide2_right {
		display: none !important;
	}
}
@media screen and (max-width: 800px) {
	body {
		width: 100%;
		overflow-x: hidden;
		padding-top: 50px;
	}
	.container {
		width: 95%;
	}
	#header {
		height: 50px;
		position: fixed;
		z-index: 2;
		width: 100%;
		top: 0;
	}
	#header .logo {
		height: 70px;
		z-index: 4;
	}
	#nav {
		display: none;
	}
	#header #nav {
		position: fixed;
		width: 100%;
		left: 0;
		top: 50px;
		background-color: #81a22d;
		color: #fff;
		height: 230px;
	}
	#header .login_area {
		top: 0;
		width: 95%;
		background: none !important;
		text-align: right;
		position: relative;
		padding: 10px 0;
	}
	#header .search {
		position: relative;
		width: 90%;
		height: 25px;
		bottom: 0;
		left: 3%;
	}
	#header .search .search_input {
		width: 80%;
	}
	#header .search .search_btn {
		float: right;
	}
	#header .menu {
		clear: both;
		position: relative;
		bottom: 0;
		width: 100%;
		border-top: 1px solid rgba(255,255,255,0.3);
		margin-top: 10px;
	}
	#header .menu a {
		display: block;
		padding: 15px 10px;
		color: #fff;
		font-weight:bold;
		clear: both;
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255,0.3);
	}



	#header #nav_menu {
		display: block;
		position: absolute;
		z-index: 3;
		right: 0;
		top: 0;
		font-size: 40px;
		font-weight: bold;
		color: #81a22d;
		padding: 14px;
		height: 22px;
		cursor: pointer;
	}
	#nav_menu_close {
		display: none;
		position: absolute;
		z-index: 3;
		right: 0;
		top: 0;
		font-size: 40px;
		font-weight: bold;
		color: #fff;
		padding: 14px;
		background: #81a22d;
		height: 22px;
		cursor: pointer;
	}
	#nav_menu_close span {
		display: inline-block;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.right {
		width: 67%;
	}
	.left {
		width: 30%;
	}
	.header_page h1 {
		padding-left: 50px;
	}
	.pagination {
		margin-top: -15px;
		text-align: center;
	}
}
@media screen and (max-width: 420px) {
	body {
		width: 100%;
		overflow-x: hidden;
		padding-top: 50px;
	}
	.container {
		width: 95%;
	}
	#header {
		height: 50px;
		position: fixed;
		z-index: 2;
		width: 100%;
		top: 0;
	}
	#header .logo {
		height: 70px;
		z-index: 4;
	}
	#nav {
		display: none;
	}
	#header #nav {
		position: fixed;
		width: 100%;
		left: 0;
		top: 50px;
		background-color: #81a22d;
		color: #fff;
		height: 230px;
	}
	#header .login_area {
		top: 0;
		width: 95%;
		background: none !important;
		text-align: right;
		position: relative;
		padding: 10px 0;
	}
	#header .search {
		position: relative;
		width: 90%;
		height: 25px;
		bottom: 0;
		left: 3%;
	}
	#header .search .search_input {
		width: 80%;
	}
	#header .search .search_btn {
		float: right;
	}
	#header .menu {
		clear: both;
		position: relative;
		bottom: 0;
		width: 100%;
		border-top: 1px solid rgba(255,255,255,0.3);
		margin-top: 10px;
	}
	#header .menu a {
		display: block;
		padding: 15px 10px;
		color: #fff;
		font-weight:bold;
		clear: both;
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255,0.3);
	}



	#header #nav_menu {
		display: block;
		position: absolute;
		z-index: 3;
		right: 0;
		top: 0;
		font-size: 40px;
		font-weight: bold;
		color: #81a22d;
		padding: 14px;
		height: 22px;
		cursor: pointer;
	}
	#nav_menu_close {
		display: none;
		position: absolute;
		z-index: 3;
		right: 0;
		top: 0;
		font-size: 40px;
		font-weight: bold;
		color: #fff;
		padding: 14px;
		background: #81a22d;
		height: 22px;
		cursor: pointer;
	}
	#nav_menu_close span {
		display: inline-block;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.page1 {
		padding: 20px 0;
	}
	.hl {
		width: 100%;
		height: 350px;
	}
	.hl .list_hl {
		height: 350px;
	}
	.hl .list_hl {
		width: 100%;
	}
	.hl .list_hl .text {
		clear: both;
		width: 90%;
		padding: 0 10px;
		font-size: 13px;
	}
	.hl .list_hl .text h2 {
		font-size: 32px;
	}
	.hl .list_hl .hl_r {
		width: 90%;
		float: left;
	}
	.hl .list_hl .hl_r .plus {
		display: none;
	}
	.pagination {
		margin-top: -15px;
		text-align: center;
	}
	.page2 {
		height: 500px;
	}
	.title {
		font-size: 42px;
	}
	.page2 .container2 {
		padding: 40px 20px 0 20px;
		width: 85%;
	}
	.nav_slide2_left,
	.nav_slide2_right {
		display: none !important;
	}
	.slide2 {
		width: 100%;
	}

	.page4 {
		padding: 0px 0 30px;
	}
	.page4 .fl {
		display: none;
	}
	.page4 .fr {
		width: 100%;
		padding-top: 20px;
	}
	.page4 .w600 {
		width: 100%;
	}
	.hubungi .input {
		width: 60%;
	}
	.hubungi .textarea {
		width: 80%;
	}


	.header_page {
		height: 70px;
	}
	.header_page .container {
		height: 70px;
		background-size: 190px;
	}
	.header_page h1 {
		font-size: 24px;
		padding-left: 10px;
		height: 70px;
		line-height: 70px;
	}
	.right,
	.left {
		clear: both;
		width: 100%;
	}
}





